:root {
  --color-primary: #5d1111;
  --color-primary-complement: #6e0f0f;
  --color-secondary: #c14242;
  --color-secondary-light: #f26565;
  --color-secondary-lighter: #f77676;
  --color-secondary-lightest: #ff9999;

  --color-alternative-primary: #1ecbe1;
  --color-alternative-secondary-light: #5bd9e9;
  --color-alternative-secondary-lightest: #99e7f1;
}

* {
  font-family: "Times New Roman", serif;
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Header */

body {
  font-family: "Times New Roman", Times, serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  grid-area: header;
  background-color: var(--color-primary);
  color: #fff;
  padding: 15px 0;
  display: flex;
  width: 100%;
  position: relative;
  justify-content: space-between;
  text-align: center;
  border-bottom: 1px solid black;
}

.header {
  border: 1px solid;
}

.title {
  padding: 10px 0px;
}

#homeLink {
  text-decoration: none;
  color: #fff;
}

.logo-h1 {
  margin-left: 2rem;
  display: flex;
  align-items: center;
}
nav ul {
  list-style: none;
  padding: 10;
  margin: 10; 
}

nav li {
  display: inline; 
  
}

nav a {
  color: white; 
  text-decoration: none; 
  padding: 10px 30px; 
  background-color: #5d1111; 
  border-radius: 10px; 
  font-family: "Times New Roman", serif;
  font-size: 20px;
  


}
nav a:hover {
  background-color: #5d1111; /* Makes the background white on hover */
  color: white; /* Changes the text color to match the original background for visibility */
}







.logo-h1 img,
.head-icons img {
  height: 40px;
  width: 40px;
}

.search-icon {
  display: none;
  margin-right: 10px;
}

.head-icons {
  margin-right: 3rem;
  margin-bottom: 2px;
  -webkit-filter: invert(100%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1.5rem;
  margin: 0 0 0 10px;
  font-weight: 600;
}

#logo {
  -webkit-filter: invert(100%);
  margin-bottom: 2px;
}

/* ----- Formuläret ----- */

main {
  grid-area: main;
}

.form {
  margin: 53px 0;
}

label, input{
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.btn-secondary {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.btn-cancel,
.btn-custom {
  min-width: 150px;
}

.registerHeader {
  color: var(--color-primary-complement);
  text-align: center;
  margin-bottom: 20px;
}

/* Footer */

.footer {
  grid-area: footer;
  background-color: var(--color-primary);
  color: white;
  list-style-type: none;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

.linkGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.leftLinkColumn {
  grid-column: 1;
}

.rightLinkColumn {
  grid-column: 2;
}

.links,
.social {
  padding: 2rem;
}

.links {
  padding-bottom: 0;
}

.links a,
.link a:visited {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.footer-links,
.social-list ul {
  display: flex;
}

.footer-links {
  justify-content: flex-start;
}

.social-list {
  align-items: center;
}

.social img {
  height: 25px;
  width: 25px;
  margin: 5px;
}

.footer h4 {
  font-size: 1.33rem;
}

/* Footer slut*/

/* ----- Media Queries ----- */

@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  .search-icon {
    display: initial;
  }

  .footer {
    display: flex;
    flex-direction: row;
  }

  .social,
  .links {
    width: 50%;
  }

  .links {
    text-align: center;
  }

  .footer-links {
    justify-content: center;
  }

  .social-list ul {
    flex-direction: row;
  }
}


@media (min-width: 1024px) {
  h1 {
    font-size: 3.2rem;
  }
}
