:root {
  --color-primary: #5d1111;
  --color-primary-complement: #6e0f0f;
  --color-secondary: #c14242;
  --color-secondary-light: #f26565;
  --color-secondary-lighter: #f77676;
  --color-secondary-lightest: #ff9999;

  --color-alternative-primary: #1ecbe1;
  --color-alternative-secondary-light: #a6c8cc;
  --color-alternative-secondary-lightest: #d5e8ea;
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Times New Roman", serif;
}

h1 {
  font-size: 1.5rem;
  margin-left: 10px;
}

h2 {
  font-size: 2.5rem;
  margin-top: 20px;
}

h3 {
  font-size: 1.8rem;
  margin: 1rem 0;
}

h4 {
  font-size: 1.3rem;
  margin: 0.75rem 0;
}

p {
  font-size: 1.1rem;
  margin: 1rem 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

article {
  width: 90%;
}

a,
#logo:hover,
.title:hover,
.search-icon:hover,
.hamb:hover,
#btn1:hover,
#btn2:hover,
.shortcutCard:hover,
.calendarEvent:hover,
.calendarBtn:hover,
.newsCard:hover,
.newsBtn:hover,
.contactCard:hover {
  cursor: pointer;
}

/* Header */

header {
  background-color: var(--color-primary);
  color: #fff;
  padding: 20px 0;
  height: 70px;
  display: flex;
  width: 100%;
  position: relative;
  justify-content: space-between;
  text-align: center;
}

.header {
  border: 1px solid;
}

.logo-h1 {
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

.logo-h1 img,
.head-icons img {
  height: 40px;
  width: 40px;
}

.search-icon {
  display: none;
  margin-right: 10px;
}

.head-icons {
  margin-top: 15px;
  margin-right: 3rem;
  display: flex;
  flex-direction: row;
}

#logo,
.head-icons {
  -webkit-filter: invert(100%);
}
/* Header slut */

/* ----- Grid-container ----- */

.gridContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px repeat(12, auto);
  width: 100%;
  margin: auto;
  row-gap: 40px;
  margin-bottom: 30px;
}
nav ul {
  list-style: none;
  padding: 10;
  margin: 10; 
}

nav li {
  display: inline; 
  
}

nav a {
  color: #c14242; 
  text-decoration: none; 
  padding: 10px 30px; 
  background-color: white; 
  border-radius: 10px; 
  font-family: "Times New Roman", serif;
  font-size: 20px;
  margin-top: px;
  margin-right: 200px;


}






/* ----- Hero-container ----- */
.heroContainer {
  border: 1px solid;
  background-image: url(./images/heroBW.jpg);
  background-position: center;
  background-size: cover;
  height: 230px;
  grid-area: 1 / 1 / 4 / 13;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.searchContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(93, 17, 17, 0.85); /* samma färg som color-primary */
  z-index: -1;
}

.searchBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  background-color: white;
  padding: 10px;
  width: 85%;
  box-shadow: 1px 1px 2px rgb(49, 49, 49);
}

.searchHeader {
  font-size: 22px;
  color: black;
  margin: 10px 0px 10px 0px;
  text-align: center;
}

.searchForm {
  width: 100%;
  display: grid;
  grid-template-areas:
    "btn1 btn2"
    "input input";
}

#btn1 {
  grid-area: btn1;
  height: 11mm;
  background-color: var(--color-primary-complement);
  color: white;
  border: 1px solid black;
  border-radius: 3px 0px 0px 0px;
  border-right: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#btn2 {
  grid-area: btn2;
  height: 11mm;
  background-color: white;
  border: 1px solid black;
  border-radius: 0px 3px 0px 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#searchForm {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  grid-area: input;
  height: 11mm;
  border: 1px solid;
  border-top: 0px;
  border-radius: 0px 0px 3px 3px;
  padding: 5px;
}

.booksInventoryButton {
  width: 30%;
  margin-top:10px;
}

.booksInventoryButton a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* ----- Hero-container slut----- */

/* ----- Shortcuts ----- */
.shortcutsContainer {
  grid-area: 4 / 1 / 6 / 13;
  height: auto;
  width: 95%;
  margin: auto;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 1px 1px 3px 2px lightgray;
}

.shortcutsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.shortcutsHeader {
  text-align: center;
}

.shortcutCard {
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
  width: 100%;
}

#linkBooks {
  text-decoration: none;
  color: black;
}

.shortcutCard:hover .shortcutContent h4 {
  text-decoration: underline;
}

.shortcuts {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.shortcutTop {
  height: 6px;
  border: black;
  background-color: var(--color-primary-complement);
  border-radius: 5px 5px 0 0;
}

.shortcutContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.shortcutArrow {
  width: 30px;
  height: 25px;
  padding-right: 5px;
}

/* ----- Frequent-container ----- */
.frequentCalendarWrapper {
  display: contents;
}

.frequentContainer {
  grid-area: 6 / 1 / 8 / 13;
  width: 95%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hours {
  background-color: var(--color-primary-complement);
  width: 100%;
  box-shadow: 1px 1px 3px 2px lightgray;
}

.hoursHeader {
  background-color: white;
  color: black;
  padding: 20px 10px;
  text-align: center;
}

.openContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.open {
  background-color: white;
  border-radius: 5px;
  border: 1px solid;
  margin: 5px;
  padding: 10px;
  width: 70%;
  font-weight: bold;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login {
  padding-bottom: 15px;
  width: 100%;
  box-shadow: 1px 1px 3px 2px lightgray;
}

.loginWrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.login form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 15px;
}

.loginButtons {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  width: 100%;
}

.loginHeader {
  background-color: var(--color-primary-complement);
  color: white;
}

#logHead,
#houHead {
  margin-top: 0;
  font-size: 1.3rem;
}

#loginButton,
#registreraButton {
  border-radius: 8px;
  padding: 10px;
  color: white;
  background-color: var(--color-primary-complement);
  cursor: pointer;
  margin: 5px 0px;
  border: 1px solid var(--color-primary-complement);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#registreraButton {
  text-decoration: none;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login input {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px;
  background-color: white;
  border: 1px solid;
  border-radius: 3px;
  margin-bottom: 5px;
  font-weight: bold;
}

#forgotPass {
  font-weight: 600;
  color: black;
  text-decoration: underline;
  margin: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.loginHeader {
  padding: 20px 10px;
  text-align: center;
}

.login p {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

#registreraButton:hover,
#loginButton:hover {
  background-color: white;
  color: var(--color-primary);
  border: 1px solid black;
}

/* ----- Frequent-container slut ----- */

/*Kalendern*/
.calendarContainer {
  grid-area: 8 / 1 / 10 / 13;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: auto;
  background-color: var(--color-primary-complement);
  box-shadow: 1px 1px 3px 2px lightgray;
}

.calendarEvents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.calendarEvent {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto;
  border: 3px solid white;
  background-color: white;
}

.calendarHeader {
  margin: 20px 0;
  color: white;
}

.calendarTitle {
  grid-area: 1/2/1/3;
  margin: 0px 20px 10px 20px;
  min-inline-size: 100px;
  overflow-wrap: break-word;
}

.calendarTimePlace {
  display: flex;
  flex-direction: column;
}

.calendarTime,
.calendarPlace {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.calendarTime img,
.calendarPlace img {
  height: 17px;
  filter: invert(17%) sepia(11%) saturate(5375%) hue-rotate(323deg)
    brightness(101%) contrast(113%);
}

.calendarPlace img {
  padding: 0 2px;
}

.calendarTime p,
.calendarPlace p {
  margin: 0;
  min-inline-size: 60px;
  overflow-wrap: break-word;
}

.calendarDate {
  grid-area: 1/1/1/1;
  border-right: 3px solid var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 20px 20px;
  padding-right: 10px;
}

.pDate {
  margin: 0;
}

.pDateNumber {
  font-size: 2rem;
  margin: 0;
  color: var(--color-primary);
}

.calendarInfo {
  grid-area: 2/1/2/3;
  background-color: var(--color-alternative-secondary-lightest);
  border-top: 3px solid var(--color-primary);
}

.calendarInfo h4 {
  font-size: 1.1rem;
  margin: 10px 10px 10px 20px;
}

.calendarInfo p {
  margin: 0px 10px 20px 20px;
}

.calendarBtn {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 230px;
  height: 60px;
  padding: 10px;
  margin: 20px 0 20px 0;
  border: 1px solid;
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.calendarBtn img {
  height: 15px;
}

.calendarBtn:hover {
  text-decoration: underline;
}

@keyframes number {
  0% {
    transform: scale(1);
  }

  50% {
    transform: translateY(-3px);
    transform: scale(1.2);
    color: #738a8d;
  }

  100% {
    transform: scale(1);
  }
}

.calendarEvent:hover {
  transform: translateY(-3px);
  box-shadow: 3px 3px 10px rgb(20, 20, 20);
}

.calendarEvent:hover .pDateNumber {
  animation-name: number;
  animation-duration: 2s;
}

.calendarEvent:hover .calendarInfo {
  background-color: var(--color-alternative-secondary-light);
}

/*Kalendern slut*/

/* ----- Nyheter -----  */

.newsContainer {
  border: 1px solid;
  background-color: var(--color-primary-complement);
  color: white;
  grid-area: 10 / 1 / 12 / 13;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 95%;
  margin: auto;
}

.news {
  display: grid;
  justify-items: center;
  gap: 30px;
}

.newsCard {
  border: 3px solid white;
  background-color: var(--color-alternative-secondary-lightest);
  color: black;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.newsHeader {
  text-align: center;
}

.newsImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.newsHeading,
.newsInfo,
.newsInfoDesktop {
  margin: 0 20px;
}

.newsInfoDesktop {
  display: none;
}

.newsBtn {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 230px;
  height: 60px;
  padding: 10px;
  border: 1px solid;
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 25px;
}

.newsBtn img {
  height: 15px;
}

.newsBtn:hover {
  text-decoration: underline;
}

.newsCard:hover {
  transform: translateY(-3px);
  box-shadow: 3px 3px 10px rgb(20, 20, 20);
  background-color: var(--color-alternative-secondary-light);
}

.newsCard:hover .newsHeading h3 {
  color: var(--color-secondary);
}

.newsCard:hover .newsImage {
  filter: brightness(115%);
  animation-name: scaleing;
  animation-duration: 3s;
  animation-iteration-count: 2;
}

@keyframes scaleing {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

/* ----- Nyheter slut -----  */

/* ----- Kontakta oss ----- */

.contactContainer {
  box-shadow: 1px 1px 3px 2px lightgray;
  background-color: white;
  grid-area: 12 / 1 / 14 / 13;
  width: 95%;
  margin: auto;
  text-align: center;
}

.contactCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 30px;
}

.contactCard {
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 3px lightgray;
  display: flex;
  flex-direction: column;
}

.contactCardHeader {
  background-color: var(--color-primary-complement);
  color: white;
  border-bottom: 2px solid black;
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contactArrow {
  width: 30px;
  height: 25px;
  filter: invert(1);
  padding-right: 15px;
}

.contactCard p {
  padding: 10px;
}

/* ----- Kontakta oss slut ----- */

/* ----- Footer ----- */

.footer {
  background-color: var(--color-primary);
  color: white;
  list-style-type: none;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

.links,
.social {
  padding: 1rem;
}

.links {
  padding-bottom: 0;
}

.links a,
.link a:visited {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

.footer-links,
.social-list ul {
  display: flex;
}

.footer-links {
  justify-content: flex-start;
}

.linkGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.leftLinkColumn {
  grid-column: 1;
}

.rightLinkColumn {
  grid-column: 2;
}

.social-list {
  align-items: center;
}

.social img {
  height: 25px;
  width: 25px;
  margin: 5px;
}

.footer h4 {
  font-size: 1.33rem;
}

.footer li {
  margin-top: 5px;
}

.footer a {
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.footer a:hover {
  text-decoration: underline;
}

/* Footer slut*/

/* ----- Surfplatta ----- */

@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  .search-icon {
    display: initial;
  }

  .frequentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* hero */
  .heroContainer {
    height: 350px;
  }

  .searchBox {
    width: 75%;
    height: 60%;
  }

  .searchHeader {
    font-size: 26px;
    margin: 20px 0px 10px 0px;
  }

  #btn1,
  #btn2,
  .searchForm input {
    height: 13mm;
  }

  /* hero slut */

  .login {
    padding: 0;
    order: -1;
    height: 100%;
  }

  .loginWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 69%;
  }

  /* --- Nyheter --- */
  .newsCard {
    flex-direction: row;
  }

  .newsCard,
  .newsHeading,
  .newsInfoDesktop {
    width: 85%;
  }

  .newsImage {
    width: 60%;
  }

  .newsInfo {
    display: none;
  }

  .newsInfoDesktop {
    display: flex;
    border-top: 2px solid var(--color-primary-complement);
  }

  /* --- Footer --- */
  .footer {
    margin: auto;
    display: flex;
    flex-direction: row;
  }

  .social,
  .links {
    width: 50%;
    padding-bottom: 1.5rem;
  }

  .links {
    text-align: center;
  }

  .footer-links {
    justify-content: center;
  }

  .social-list ul {
    flex-direction: row;
  }

  .shortcuts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  /*Kalendern*/
  .calendarEvent {
    grid-template-columns: 1fr 5fr;
  }

  .calendarDate {
    grid-area: 1/1/3/1;
    margin: 0;
    padding: 0;
  }

  .pDate {
    font-size: 1.3rem;
  }

  .pDateNumber {
    font-size: 3rem;
  }

  .calendarTimePlace {
    flex-direction: row;
    gap: 70px;
  }

  .calendarInfo {
    grid-area: 2/2/2/3;
  }

  /*Kontakta oss*/
  .contactCards {
    margin: 40px 60px;
    flex-direction: row;
    width: 90%;
  }
}

/* ----- Laptop / datorskärm ----- */

@media (min-width: 1024px) {
  h1 {
    font-size: 3.2rem;
  }

  /* hero */
  .heroContainer {
    height: 450px;
  }

  .searchBox {
    max-width: 700px;
    width: 55%;
    height: 50%;
  }

  .searchHeader {
    font-size: 30px;
    margin: 25px 0px 10px 0px;
  }

  .searchForm {
    margin: 20px;
  }

  /* hero slut */
  .frequentCalendarWrapper {
    grid-area: 6 / 1 / 10 / 13;
    display: grid;
    grid-template-columns: 0.7fr 2.3fr;
    grid-template-rows: auto auto;
    width: 95%;
    margin: auto;
  }

  .frequentContainer {
    grid-area: 1 / 1 / 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
  }

  .login {
    height: 50%;
  }

  .loginWrapper {
    width: 90%;
  }

  .loginButtons {
    display: flex;
    flex-direction: column;
  }

  #forgotPass {
    margin-bottom: 15px;
  }

  .hours {
    height: 50%;
  }

  .openContainer {
    height: 100%;
    margin-top: 20px;
  }

  .calendarContainer {
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    margin: 0;
  }

  .calendarInfo {
    overflow: hidden;
  }

  /* --- Nyheter --- */
  .news {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px;
  }

  .newsCard {
    width: 90%;
    display: grid;
    grid-template-columns: 6fr 4fr;
  }

  .newsImage {
    height: 100%;
    width: 100%;
  }

  .shortcuts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  /*kalender*/
  .calendarContainer {
    justify-content: space-evenly;
  }

  .calendarEvents {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0;
  }

  .calendarEvent {
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 1fr;
    max-width: 23%;
    min-width: 232.17px;
    height: 500px;
  }

  .calendarDate {
    grid-area: 1/1/1/3;
    border-right: none;
    border-bottom: 3px solid var(--color-primary);
    margin: auto;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
  }

  .calendarTitle {
    grid-area: 2/1/2/3;
    margin: auto;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .calendarTimePlace {
    flex-direction: column;
    gap: 0;
    margin-bottom: 20px;
  }

  .calendarInfo {
    grid-area: 3/1/3/3;
    padding-top: 15px;
  }
}
